body {
    background-color:#090909;
    text-align: center;
}
.invitation-container {
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
    max-width: 300px;
    height: 300px;
    margin-bottom: 20px;
    align-content: center;
}
.invitation-text {
    font-size: 18px;
    margin-bottom: 20px;
}
.location-text {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}
.rsvp-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 740px){
    body {
        background-color: rgb(7, 7, 7);
    }
    .invitation-container {
        max-width: 600px;
        margin: 50px auto;
        border: 1px solid #ddd;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(189, 15, 15, 0.1);
    }
    .logo {
        max-width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }
    .invitation-text {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .location-text {
        font-size: 14px;
        color: #888;
        margin-bottom: 20px;
    }
    .rsvp-btn {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    iframe{
        width: 100%;
    }
    
}